/*
Theme Name: TemplateOcean
Theme URI: http://underscores.me/
Author: Mohaimenul Adnan
Author URI: http://eadnan.com
Description: A template for TemplateOcean
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: templateocean
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

TemplateOcean is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

@font-face {
  font-family: 'averta_std';
  src: url('fonts/avertastd-light-webfont.woff2') format('woff2'), url('fonts/avertastd-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'averta_std';
  src: url('fonts/avertastd-regular-webfont.woff2') format('woff2'), url('fonts/avertastd-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=203c1876fc5dc822097a)
 * Config saved to config.json and https://gist.github.com/203c1876fc5dc822097a
 */
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: 'averta_std', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
body {
  font-family: "averta_std", "Avenir", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  color: #252525;
}
a:hover,
a,
a:focus {
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  line-height: 30px;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.white-text {
  color: #fff;
}
h1 {
  font-size: 32px;
  line-height: 60px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  margin-bottom: 15px;
}
h2 {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  line-height: 45px;
  color: #454545;
}
h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 0;
}
h4 {
  font-size: 26px;
  line-height: 45px;
  font-weight: 300;
}
h5 {
  font-size: 18px;
  font-weight: 400;
  color: #454545;
}
h6 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}
.dark-text {
  color: #272727;
}
.small-text {
  font-size: 14px;
}
.heavy {
  font-weight: 400;
}
a,
.standard-button {
  text-align: center;
}
a {
  color: #2ecc4d;
  font-weight: 400;
}
a:hover {
  color: #00bf25;
}
.standard-button {
  padding: 20px 25px 20px 25px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  background: #2ecc4d;
}
.standard-button:hover {
  color: #ffffff;
  background: #00bf25;
  text-decoration: none;
}
.header {
  background: #212121;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  height: 75px;
  position: relative;
}
.logo {
  float: left;
  max-width: 300px;
  line-height: 68px;
}
.logo img {
  max-height: 28px;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-fixed-top {
  top: 0;
  max-height: 75px;
}
.on-scroll-nav {
  opacity: 0;
  width: 100%;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0 1px rgba(34, 34, 34, 0.1);
  -moz-box-shadow: 0 1px rgba(34, 34, 34, 0.1);
  box-shadow: 0 1px rgba(34, 34, 34, 0.1);
}
.admin-bar .on-scroll-nav {
  margin-top: 30px;
}
.on-scroll-nav .product-title {
  font-size: 24px;
  line-height: 75px;
}
.on-scroll-nav .navigation-right {
  margin-top: 20px;
}
.on-scroll-nav .standard-button {
  padding: 10px 20px 10px 20px;
  border: 2px solid #2ecc4d;
  background: transparent;
  font-size: 16px;
  margin-left: 15px;
  color: #2ecc4d;
}
.on-scroll-nav .standard-button:hover {
  background: #2ecc4d;
  color: #fff;
}
.on-scroll-nav .normal-link {
  color: #252525;
}
.on-scroll-nav .normal-link .icon-eye {
  fill: #252525;
  vertical-align: text-top;
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
.on-scroll-nav .normal-link:hover {
  color: #2ecc4d;
}
.on-scroll-nav .normal-link:hover .icon-eye {
  fill: #2ecc4d;
}
/*Navigation*/
.navigation-right {
  float: right;
}
.navigation-right li {
  display: inline-block;
  float: left;
  position: relative;
}
.navigation-right li a {
  padding: 0 15px 20px 15px;
  color: #c0c0c0;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 75px;
}
.navigation-right li a:hover {
  color: #2ecc4d;
  text-decoration: none;
}
.navigation-right li:last-child a {
  padding-right: 0;
}
.intro {
  background: #212121;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  color: #fff;
}
.intro h6 {
  color: #c0c0c0;
}
.template-grid {
  padding-top: 50px;
}
.template-grid h2 {
  text-align: left;
}
.template-grid .sorting-link {
  margin-bottom: 30px;
}
.template-grid .sorting-link a {
  margin-right: 20px;
}
.template-grid .sorting-link .inactive {
  color: #c0c0c0;
}
.template-grid .template-box {
  background: #fff;
  overflow: hidden;
  margin-bottom: 50px;
}
.template-grid .template-box .featured-image {
  -webkit-backface-visibility: hidden;
  position: relative;
}
.template-grid .template-box .featured-image img {
  -webkit-backface-visibility: hidden;
  max-width: 100%;
}
.template-grid .template-box .live-preview {
  display: none;
  -webkit-backface-visibility: hidden;
}
.template-grid .template-box .template-link {
  margin-top: 10px;
}
.template-grid .template-box .template-link .name-link {
  text-align: left;
}
.template-grid .template-box .template-link .name-link h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #252525;
}
.template-grid .template-box .template-link .name-link .small-text {
  font-weight: 300;
  color: #252525;
}
.template-grid .template-box .template-link .name-link:hover h3,
.template-grid .template-box .template-link .name-link:hover .small-text {
  color: #2ecc4d;
}
.template-grid .template-box .template-link .standard-button {
  padding: 10px 25px 10px 25px;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 10px;
}
.template-grid .template-box:hover .featured-image {
  -webkit-backface-visibility: hidden;
}
.template-grid .template-box:hover .featured-image img {
  -webkit-backface-visibility: hidden;
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
  -moz-filter: brightness(40%);
  -o-filter: brightness(40%);
  -ms-filter: brightness(40%);
  transition: ease .5s;
}
.template-grid .template-box:hover .live-preview {
  -webkit-backface-visibility: hidden;
  transition: ease .5s;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
}
.template-grid .template-box:hover .live-preview:hover {
  color: #2ecc4d;
  border-color: #2ecc4d;
}
.single-template .intro {
  padding-bottom: 200px;
  text-align: left;
}
.single-template .intro h1 {
  color: #fff;
  text-align: left;
  line-height: 45px;
  margin-top: -4px;
  margin-bottom: 5px;
}
.single-template .intro .template-data {
  vertical-align: middle;
  padding-bottom: 50px;
  font-size: 14px;
  color: #818181;
}
.single-template .intro .template-data svg {
  fill: #818181;
  vertical-align: middle;
}
.single-template .intro .template-data .single-data {
  display: inline-block;
  margin-right: 20px;
}
.single-template .intro .icon-download,
.single-template .intro .star {
  height: 18px;
  width: 18px;
}
.single-template .intro .download-count {
  padding-top: -10px;
  padding-left: 10px;
}
.single-template .intro .buttons {
  float: right;
  margin-top: 23px;
}
.single-template .intro .buttons .standard-button {
  margin-left: 20px;
}
.single-template .intro .buttons .normal-link {
  color: #fff;
}
.single-template .intro .buttons .normal-link .icon-eye {
  fill: #fff;
  vertical-align: text-top;
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
.single-template .intro .buttons .normal-link:hover {
  color: #2ecc4d;
}
.single-template .intro .buttons .normal-link:hover .icon-eye {
  fill: #2ecc4d;
}
@media (max-width: 991px) {
  .intro {
    text-align: center;
  }
  .intro h1 {
    text-align: center;
  }
  .intro .buttons {
    float: none;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
  }
}
@media (max-width: 480px) {
  .buttons {
    float: none;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .standard-button,
  .normal-link {
    display: block;
    margin-left: 0 !important;
    margin-right: 0;
    margin-top: 20px;
  }
}
.template-content {
  margin-top: -200px;
}
.template-content img {
  max-width: 100%;
}
.template-content h2 {
  padding: 25px 60px 0 60px;
}
@media (max-width: 640px) {
  .template-content h2 {
    padding: 5px;
  }
}
@media (max-width: 480px) {
  .template-content h2 {
    margin-top: 50px;
    margin-bottom: 0;
  }
}
.template-content .presentation {
  margin-top: 60px;
  margin-bottom: 60px;
}
.template-content h4 {
  text-align: center;
}
.template-content .feature-list {
  text-align: center;
  padding-bottom: 60px;
}
.template-content .feature-list li {
  display: inline-block;
  padding: 10px;
}
.template-content .feature-list li svg {
  fill: #2ecc4d;
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
}
.template-content .feature-list li h5 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
}
.template-content .download-template {
  background: #212121;
  border-radius: 3px;
  text-align: center;
  padding-top: 100px;
}
.template-content .download-template .download-title {
  color: #fff;
  font-size: 40px;
  line-height: 1.5;
}
.template-content .download-template .small-text {
  color: #c0c0c0;
}
.template-content .download-template form {
  margin-bottom: 25px;
  margin-top: 50px;
}
.template-content .download-template form input,
.template-content .download-template form button {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 465px;
  outline: 0;
  border: 0;
}
.template-content .download-template form .standard-button {
  border-radius: 0 0 3px 3px;
}
.template-content .download-template form input {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 70px;
  border-radius: 3px 3px 0 0;
}
@media (max-width: 480px) {
  .template-content .download-template form {
    padding: 10px;
  }
}
.template-content .download-template .template-details {
  margin-top: 75px;
}
.template-content .download-template .template-details ul {
  text-align: center;
  border-top: 1px solid #353535;
}
.template-content .download-template .template-details ul li {
  width: 19.65%;
  display: inline-block;
  border-left: 1px solid #353535;
  padding: 10px 0 10px 0;
}
.template-content .download-template .template-details ul li:first-child {
  border-left: none;
}
.template-content .download-template .template-details ul li h6 {
  color: #c0c0c0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .template-content .download-template .template-details ul li {
    width: 19.5%;
  }
}
@media (max-width: 991px) {
  .template-content .download-template .template-details ul li {
    width: 19%;
  }
}
@media (max-width: 640px) {
  .template-content .download-template .template-details ul li {
    width: 30%;
    border: none;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .template-content .download-template .template-details {
    margin-top: 50px;
  }
  .template-content .download-template .template-details ul {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .template-content .download-template .template-details ul li {
    width: 100%;
    border: none;
    text-align: center;
  }
}
.template-content .related-templates {
  margin-top: 75px;
}
.template-content .related-templates h4 {
  text-align: left;
}
.template-content .related-templates .related-template h5 {
  text-align: left;
  margin-top: 15px;
}
.template-content .comments-section {
  margin-bottom: 75px;
}
.template-content .comments-section h4 {
  text-align: left;
}
.template-content .comments-section ol {
  padding-left: 0;
}
.template-content .comments-section ol li {
  margin-left: 0;
  background: #fff;
  border: 10px solid #F5F5F6;
  margin-top: 20px;
  overflow: hidden;
  padding: 20px;
}
.template-content .comments-section ol li ol li {
  margin-left: 0;
  margin-top: 20px;
  background: #fff;
  border: none;
  border-left: 5px solid #F5F5F6;
  border-top: 5px solid #F5F5F6;
}
.template-content .comments-section ol li ol li .comment {
  padding-bottom: 0;
}
.template-content .comments-section ol li .comment-author {
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}
.template-content .comments-section ol li .comment-author .avatar {
  float: left;
  margin-right: 15px;
}
.template-content .comments-section ol li .comment-author .avatar img {
  max-width: 60px;
}
.template-content .comments-section ol li .comment-author .name {
  font-weight: 400;
  display: inline-block;
  margin-right: 10px;
}
.template-content .comments-section ol li .comment-author .date {
  display: inline-block;
  float: left;
}
.template-content .comments-section ol li .comment-author a {
  margin-left: 15px;
  display: inline-block;
}
.template-content .comments-section ol li .comment {
  padding: 20px 40px 10px 75px;
}
@media (max-width: 480px) {
  .template-content .comments-section ol li .comment {
    padding: 20px 0 10px 0;
  }
}
.featured {
  background: #212121;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #c0c0c0;
}
.featured .text-center {
  text-transform: uppercase;
}
.featured ul {
  margin-top: 15px;
}
.featured ul li {
  margin: 15px;
  display: inline-block;
}
.footer {
  background: #1c1c1c;
  padding-top: 50px;
  padding-bottom: 75px;
  color: #c0c0c0;
}
.footer ul {
  margin-top: 25px;
  margin-bottom: 50px;
}
.footer ul li {
  margin-bottom: 4px;
}
.footer ul li a {
  color: #c0c0c0;
  font-weight: 300;
}
.footer ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
.footer .subscription-box {
  margin-top: 25px;
  background: #212121;
  border-radius: 4px;
  color: #c0c0c0;
  padding: 30px 35px 30px 35px;
}
.footer .subscription-box form {
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer .subscription-box form input {
  background: transparent;
  border: 1px solid #353535;
  border-radius: 4px;
  padding: 10px 10px 10px 25px;
  width: 300px;
  margin-right: 5px;
}
.footer .subscription-box form input:focus,
.footer .subscription-box form input:active {
  border: 1px solid #2ecc4d;
  color: #ffffff;
  outline-color: #2ecc4d;
  border-radius: 4px;
}
.footer .subscription-box form .standard-button {
  padding: 12px 20px 12px 20px;
  background: #1c1c1c;
  border: none;
}
.footer .subscription-box form .standard-button:hover {
  background: #2ecc4d;
}
.footer .subscription-box .follow a {
  color: #c0c0c0;
  margin-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.footer .subscription-box .follow a:hover {
  color: #ffffff;
  text-decoration: none;
}
.footer .copyright {
  font-size: 14px;
  color: #818181;
}
/* okayNav styles */
body.okayNav-loaded {
  overflow-x: hidden;
}
.okayNav:not(.loaded) {
  visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.okayNav ul {
  /* We want two navigations - one hidden and one visible */
  float: left;
  margin-top: 7px;
}
.okayNav a {
  /* Links general styling */
  color: #c0c0c0;
  font-size: 14px;
  position: relative;
  z-index: 1;
}
.okayNav__nav--visible {
  overflow: hidden;
  white-space: nowrap;
}
.okayNav__nav--visible li {
  display: inline-block;
}
.okayNav__nav--visible a {
  /* Link styling for the visible part of the nav */
  display: block;
  transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1);
  padding: 15px 15px;
}
.okayNav__nav--visible a:hover {
  color: #2ecc4d;
}
/* Link styling for the off-screen part of the nav */
.okayNav__nav--invisible {
  z-index: 10;
  position: fixed;
  top: 70px;
  bottom: 0;
  max-height: 300px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #1c1c1c;
}
.okayNav__nav--invisible a {
  background: #1c1c1c;
  width: 200px;
  display: block;
  padding: 20px 10px 0 10px;
}
.okayNav__nav--invisible a:hover {
  color: #2ecc4d;
}
.okayNav__nav--invisible.nav-left {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.okayNav__nav--invisible.nav-right {
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.okayNav__nav--invisible.transition-enabled {
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
}
.okayNav__nav--invisible.nav-open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* Kebab icon */
.okayNav__menu-toggle {
  position: relative;
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  width: 40px;
  height: 20px;
  float: right;
  z-index: 1;
  top: 27px;
}
.okayNav__menu-toggle.okay-invisible {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.okayNav__menu-toggle span {
  display: block;
  position: absolute;
  margin: auto;
  height: 4px;
  width: 4px;
  background: #fff;
  border-radius: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
}
.okayNav__menu-toggle span:nth-child(1) {
  top: 0;
}
.okayNav__menu-toggle span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.okayNav__menu-toggle span:nth-child(3) {
  bottom: 0;
}
.okayNav__menu-toggle.icon--active {
  /* Kebab icon when off-screen nav is open */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.okayNav__menu-toggle.icon--active span {
  background: #2ecc4d;
}
